# Ignore single file backups
*~

# Ignore mutt stuff
mutt/cache
mutt/temp
config/neomutt/cache
config/neomutt/temp
config/neomutt/apply-git-patch.config

# Ignore python stuff
*.pyc
*.pyo
__pycache__

# gdb stuff
.gdb_history

# newsboat stuff
config/newsboat/cache.db
config/newsboat/history.*
config/newsboat/urls

# systemd stuff
config/systemd/user/default.target.wants

# weechat stuff
weechat/sec.conf
weechat/weechat.pwd
weechat/logs
weechat/matrix
weechat/ssl
weechat/*.log
weechat/*.cache
weechat/xfer
weechat/script/plugins.xml.gz
weechat/active_buffer.txt
weechat/highlights.txt

# GnuPG stuff
gnupg/*.gpg
gnupg/.\#*
gnupg/random_seed
gnupg/*.kbx
gnupg/*private*
gnupg/.gpg-*-migrated
gnupg/crls.d
gnupg/openpgp-revocs.d
gnupg/gpa*
gnupg/reader*
gnupg/*.bak
gnupg/*.db
# I do not use ssh protocol for GPG right now.
gnupg/sshcontrol

# Vim stuff
vim/.netrwhist
vim/bundle/.neobundle
vim/bundle/NeoBundle.lock
vim/spell
config/nvim/.netrwhist
config/nvim/spell
config/nvim/user.vim

# Environ stuff
env

# Cache files
zsh/cache*
*.zwc

# SSH stuff
ssh/authorized_keys*
ssh/id_rsa*
ssh/id_dsa*
ssh/identity*
ssh/id_*
ssh/known_hosts*
ssh/.known_hosts*
ssh/master-*
ssh/google_*
ssh/*_config

# todo.txt
todo/*.txt

# ranger stuff
config/ranger/bookmarks
config/ranger/tagged
config/ranger/history

# qutebrowser
config/qutebrowser/bookmarks
config/qutebrowser/quickmarks
config/qutebrowser/qsettings
config/qutebrowser/autoconfig.yml

# vimb
config/vimb/*
!config/vimb/config
!config/vimb/style.css

# gtk stuff
config/gtk-3.0/custom-papers

# task stuff
task/*.data
task/*.pem
task/taskd.conf

# autorandr stuff
config/autorandr
!config/autorandr/postswitch.d
