[submodule "config/nvim/pack/plugins/start/ale"]
	path = config/nvim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
	branch = master
[submodule "config/nvim/pack/plugins/start/closetag.vim"]
	path = config/nvim/pack/plugins/start/closetag.vim
	url = git@github.com:docunext/closetag.vim.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-elrond"]
	path = config/nvim/pack/plugins/start/vim-elrond
	url = git@github.com:aperezdc/vim-elrond.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-lining"]
	path = config/nvim/pack/plugins/start/vim-lining
	url = git@github.com:aperezdc/vim-lining.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-fugitive"]
	path = config/nvim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-polyglot"]
	path = config/nvim/pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-template"]
	path = config/nvim/pack/plugins/start/vim-template
	url = git@github.com:aperezdc/vim-template.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-gitgutter"]
	path = config/nvim/pack/plugins/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-commentary"]
	path = config/nvim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
	branch = master
[submodule "config/nvim/pack/plugins/start/split-term.vim"]
	path = config/nvim/pack/plugins/start/split-term.vim
	url = git@github.com:vimlab/split-term.vim.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-buftabline"]
	path = config/nvim/pack/plugins/start/vim-buftabline
	url = git@github.com:ap/vim-buftabline.git
[submodule "config/nvim/pack/plugins/start/vim-grammarous"]
	path = config/nvim/pack/plugins/start/vim-grammarous
	url = git@github.com:rhysd/vim-grammarous.git
[submodule "config/nvim/pack/plugins/opt/cmp_luasnip"]
	path = config/nvim/pack/plugins/opt/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "config/nvim/pack/plugins/opt/cmp-nvim-lsp"]
	path = config/nvim/pack/plugins/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "config/nvim/pack/plugins/opt/lsp-status.nvim"]
	path = config/nvim/pack/plugins/opt/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim.git
[submodule "config/nvim/pack/plugins/opt/LuaSnip"]
	path = config/nvim/pack/plugins/opt/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "config/nvim/pack/plugins/opt/nvim-cmp"]
	path = config/nvim/pack/plugins/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "config/nvim/pack/plugins/opt/nvim-lspconfig"]
	path = config/nvim/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "config/nvim/pack/plugins/opt/ultisnips"]
	path = config/nvim/pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "config/nvim/pack/plugins/opt/vim-lsp"]
	path = config/nvim/pack/plugins/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "config/nvim/pack/plugins/opt/vim-lsp-snippets"]
	path = config/nvim/pack/plugins/opt/vim-lsp-snippets
	url = https://github.com/thomasfaingnaert/vim-lsp-snippets.git
[submodule "config/nvim/pack/plugins/opt/vim-lsp-ultisnips"]
	path = config/nvim/pack/plugins/opt/vim-lsp-ultisnips
	url = https://github.com/thomasfaingnaert/vim-lsp-ultisnips.git
