[submodule "config/nvim/pack/plugins/start/ale"]
	path = config/nvim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
	branch = master
[submodule "config/nvim/pack/plugins/start/closetag.vim"]
	path = config/nvim/pack/plugins/start/closetag.vim
	url = git@github.com:docunext/closetag.vim.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-elrond"]
	path = config/nvim/pack/plugins/start/vim-elrond
	url = git@github.com:aperezdc/vim-elrond.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-lining"]
	path = config/nvim/pack/plugins/start/vim-lining
	url = git@github.com:aperezdc/vim-lining.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-fugitive"]
	path = config/nvim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-polyglot"]
	path = config/nvim/pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-template"]
	path = config/nvim/pack/plugins/start/vim-template
	url = git@github.com:aperezdc/vim-template.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-gitgutter"]
	path = config/nvim/pack/plugins/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-commentary"]
	path = config/nvim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
	branch = master
[submodule "config/nvim/pack/plugins/start/split-term.vim"]
	path = config/nvim/pack/plugins/start/split-term.vim
	url = git@github.com:vimlab/split-term.vim.git
	branch = master
[submodule "config/nvim/pack/plugins/start/vim-buftabline"]
	path = config/nvim/pack/plugins/start/vim-buftabline
	url = git@github.com:ap/vim-buftabline.git
