# Ignore single file backups
*~

# GnuPG stuff
gnupg/*.gpg
gnupg/.\#*
gnupg/random_seed
gnupg/*.kbx
gnupg/*private*

# Vim stuff
vim/.netrwhist
vim/bundle/.vundle

# Environ stuff
env

# Local files
zsh/local/*

# Cache files
zsh/cache*

# SSH stuff
ssh/authorized_keys*
ssh/id_rsa*
ssh/id_dsa*
ssh/identity*
ssh/id_*
ssh/known_hosts*
ssh/.known_hosts*
ssh/master-*

# todo.txt
todo/*.txt

