[Unit]
Description=Maildir synchronization service
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
Environment=PASSWORD_STORE_DIR=/home/ajdiaz/sys/pass
ExecStart=/usr/bin/mbsync -Xa -c /home/ajdiaz/.config/mbsync/mbsyncrc
ExecStartPost=/bin/bash -c "/home/ajdiaz/.config/mbsync/mail-classify"
ExecStartPost=/bin/bash -c "/home/ajdiaz/.config/mbsync/mail-notify"
TimeoutStartSec=1min30s
StandardOutput=syslog
StandardError=syslog
