[Unit]
Description=MPV service
After=network.target
ConditionPathExists=/usr/bin/mpv

[Service]
Type=simple
ExecStartPre=/bin/rm -f /run/user/1000/mpv-service
ExecStart=/usr/bin/mpv --no-video --shuffle /home/ajdiaz/var/media/music/ --pause --input-ipc-server=/run/user/1000/mpv-service
TimeoutStartSec=1min30s

[Install]
WantedBy=default.target
