# offlineimap.timer

[Unit]
Description=OfflineIMAP Quicksync timer

[Timer]
OnCalendar=*:0/2
Unit=offlineimap.service

[Install]
WantedBy=default.target
