[Unit]
Description=System Status

[Service]
Type=oneshot
ExecStart=/bin/bash -c "systemctl --failed | grep -q '0 loaded' && systemctl --user --failed | grep -q '0 loaded' && rm -f /home/ajdiaz/tmp/.failed || touch /home/ajdiaz/tmp/.failed"
