[Unit]
Description=Weechat Session
Wants=network-online.target
After=network-online.target


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s weechat /usr/bin/weechat
